<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect for display" stopProcessing="true">
                    <match url="^views/display\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="home" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for display" stopProcessing="true">
                    <match url="^home$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/display.cfm" />
                </rule>
                <rule name="Redirect for pdf" stopProcessing="true">
                    <match url="^pdfDownload\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="pdfDownload" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for pdf" stopProcessing="true">
                    <match url="^pdfDownload$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/pdfDownload.cfm" />
                </rule>
                <rule name="Redirect for excel" stopProcessing="true">
                    <match url="^excelDownload\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="excelDownload" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for excel" stopProcessing="true">
                    <match url="^excelDownload$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/excelDownload.cfm" />
                </rule>
                <rule name="Redirect for index" stopProcessing="true">
                    <match url="^index\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="login" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for index" stopProcessing="true">
                    <match url="^login$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.cfm" />
                </rule>
                <rule name="Redirect for register" stopProcessing="true">
                    <match url="^views/register\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="register" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for register" stopProcessing="true">
                    <match url="^register$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/register.cfm" />
                </rule>
                <rule name="Redirect for error" stopProcessing="true">
                    <match url="^views/errorPage\.cfm$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="views/errorPage" appendQueryString="false" />
                </rule>
                <rule name="Rewrite for error" stopProcessing="true">
                    <match url="^views/errorPage$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="views/errorPage.cfm" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Outbound Rewrite for display" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/display\.cfm$" />
                    <action type="Rewrite" value="{R:1}/home" />
                </rule>
                <rule name="Outbound Rewrite for excel" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/excelDownload\.cfm$" />
                    <action type="Rewrite" value="{R:1}/excelDownload" />
                </rule>
                <rule name="Outbound Rewrite for pdf" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/pdfDownload\.cfm$" />
                    <action type="Rewrite" value="{R:1}/pdfDownload" />
                </rule>
                <rule name="Outbound Rewrite for index" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)index\.cfm$" />
                    <action type="Rewrite" value="{R:1}/login" />
                </rule>
                <rule name="Outbound Rewrite for register" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/register\.cfm$" />
                    <action type="Rewrite" value="/register" />
                </rule>
                <rule name="Outbound Rewrite for error" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/errorPage\.cfm$" />
                    <action type="Rewrite" value="{R:1}/errorPage" />
                </rule>
                <preConditions>
                    <preCondition name="Response">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/views/errorPage.cfm" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
