<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rules>

                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />

                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>

                    <action type="Redirect" url="addressbook.local/" />
                </rule>
                
                
                <rule name="Redirect To List Or Pdf" stopProcessing="true">
                    <match url="^(display|pdfDownload)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="addressbook\.local" />
                    </conditions>
                    <action type="Redirect" url="?action={R:1}" />
                </rule>

                <rule name="Redirect To Login or Register" stopProcessing="true">
                    <match url="^(login|register)$" />

                    <conditions>
                        <add input="{HTTP_HOST}" pattern="addressbook\.local" />
                    </conditions>
                    <action type="Redirect" url="?action={R:1}" />
                </rule>

                <rule name="Redirect to Error Page" stopProcessing="true">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^addressbook\.local$" />
                        <add input="{QUERY_STRING}" pattern="^(?!action=).+" />
                    </conditions>

                    <action type="Redirect" url="?action=error" appendQueryString="false" />

                </rule>

            </rules>
            <outboundRules>
                <rule name="Outbound Rewrite for display" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/display\.cfm$" />
                    <action type="Rewrite" value="{R:1}/views/display" />
                </rule>
                <rule name="Outbound Rewrite for pdf" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/pdfDownload\.cfm$" />
                    <action type="Rewrite" value="{R:1}/views/pdfDownload" />
                </rule>
                <rule name="Outbound Rewrite for index" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)index\.cfm$" />
                    <action type="Rewrite" value="{R:1}/ index" />
                </rule>
                <rule name="OutboundRewriteUserFriendlyURL1" preCondition="Response">
                    <match filterByTags="A, Form, Img" pattern="^(.*)views/register\.cfm$" />
                    <action type="Rewrite" value="/views/register" />
                </rule>
                <preConditions>
                    <preCondition name="Response">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
