<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
        </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://127.0.0.1:8500/addressBook" />
            </rewriteMaps>
            <rules>
                <rule name="HTTP" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="http://127.0.0.1:8500/addressBook/" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>