*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #D8E5F1;
}

.bgColor{
    background-color: #D8E5F1; 
}

a{
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.navContactImgLogo{
    width:45px;
}

.navBgColor{
 background-color: #337AB7;
}

.loginTxtClr{
    color:#337EBE;
}

.loginBtn{
    border: 2px #337EBE;
}

.login{
    width:130px;
    height:150px;
}

input,select{
    border: none;
    outline:none;
    width:100px;
    border-bottom: 1px solid #6C757D;
}

.fontSize14{
    font-size: 14px;
}

.formWidth{
    width:30%;
}

.errorMsgHeight{
    height:20px;
}

.buttonStyle{
    padding: 5px 30% ;
    border-radius: 35px ;
}

.modalBtn{
    border-radius: 35px;
}

.uploadfile{
    border: none;
    outline:none;
    width:70%;
    border-bottom: 1px solid #6C757D;
}

.downloadIcon{
    width: 40px;
    height: 40px;
}
.profileImg{
    width:100px;
    height:100px;
}
